/* Coolors Exported Palette - coolors.co/2c363f-e75a7c-f2f5ea-93b7be-96b253 */

/* HSL */
$color1: hsla(208%, 18%, 21%, 1);
$color2: hsla(346%, 75%, 63%, 1);
$color3: hsla(76%, 35%, 94%, 1);
$color4: hsla(190%, 25%, 66%, 1);
$color5: hsla(78%, 38%, 51%, 1);

/* RGB */
$color1: rgba(44, 54, 63, 1);
$color2: rgba(231, 90, 124, 1);
$color3: rgba(242, 245, 234, 1);
$color4: rgba(147, 183, 190, 1);
$color5: rgba(150, 178, 83, 1);